.nav {
    text-align: right;
}

.nav-list {
    display: inline-flex;

    a {
        color: $primary;
        padding: 10px 30px;
        display: inline-block;
        border-bottom: 3px solid $secondary;
        font-size: 14px;
        font-family: $serif;

        &.active {
            border-color: $warning;
        }

        &:not(.active):hover {
            border-bottom: 3px solid $info;
        }
    }
}
