.post-content {
    margin-top: 50px;

    .post-image {
        img {
            max-width: 1000px;
            height: auto;
        }
    }

    h2 {
        margin: 30px 0;
    }

    .post-wrapper {
        display: flex;
        justify-content: center;
    }

    .post-container {
        margin: 20px 40px 0 40px;
        max-width: 900px;
        font-size: 17px;
        letter-spacing: 1.2px;
        line-height: 1.5;
        font-weight: 400;
        box-shadow: $shadow;
        padding: 35px;
        background-color: #fff;

        img {
            margin: 0 auto;
            display: block;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 15px;
        }
    }
}

sidebar {
    right: 45px;
    width: 350px;
    margin-top: 20px;
    margin-right: 30px;

    font-size: 17px;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-weight: 400;

    .secondary {
        box-shadow: 0 0 22px 4px rgba(0, 0, 0, 0.12);
        padding: 35px;
        background-color: #fff;
    }

    ul {
        color: $dark;

        li {
            ul {
                font-size: 14px;
                margin-left: 30px;
            }
        }

        a {
            margin-bottom: 10px;
            display: block;
            color: inherit;
            
        }
    }

    .widget-title {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .color-wrapper {
        flex-direction: column-reverse;
    }

    sidebar {
        margin: 50px 40px 0 40px;
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    .post {
        img {
            width: 100%;
        }

        .post-container {
            margin-left: 0;
            margin-right: 0;
            padding: 35px 15px;
            word-wrap: break-word;
            line-height: 1.1;
            font-size: 14px;
        }
    }
}


