

// colors
// *****

$main: #2f3542;

$secondary: #3498db;

$light: #ced6e0;

$text: #747d8c;

// body
$background: #fff;

$background-secondary: #f9f9f9;

$button: #f79f1f;

// sizes:
$container: 1000px;

$default: 'Raleway', sans-serif;
$second: 'Work Sans', sans-serif;
