
// colors
$info: #3498db;
$warning: #f79f1f;
$primary: #747d8c;
$secondary: #ced6e0;
$gray: #f9f9f9;
$dark: #2f3542;

$body: #fff;
$footer: $dark;

$button-warning: $warning;
$quote-border: #ffeb00;

// shadow
$shadow: 0 0 22px 4px rgba(0,0,0,.12);

// sizes
$container: 1000px;

// fonts
$sans-serif: 'Raleway', sans-serif;
$serif: 'Roboto Slab', serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
