.btn-default {
    background-color: $button-warning;
    border: none;
    padding: 10px 25px;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;

    &:hover {
        background-color: darken($button-warning, 15);
    }
}
